<!-- BaseballTeamDetail.html -->
<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>球団名</h3>
    <p th:text="${teamDetail.team_name}"></p>
    
    <h3>本拠地</h3>
    <p th:text="${teamDetail.headquarters}"></p>
    
    <h3>発足</h3>
    <p th:text="${teamDetail.inauguration}"></p>
    
    <h3>歴史</h3>
    <!-- 
        historyの改行がthymeleafでは無視されるため、その対策を実施。
        「↓」で区切った「リスト」を作成し、その要素を1つずつ出力。
        参考：https://www.thymeleaf.org/doc/tutorials/3.1/usingthymeleaf_ja.html#%E6%96%87%E5%AD%97%E5%88%97 
    -->
    <div th:each="line, status : ${#strings.listSplit(teamDetail.history, '↓')}">
        <span th:text="${line}"></span><br>
        <span th:unless="${status.last}">↓</span>
    </div>

    <br>

    <form th:action="@{/}">
        <button>戻る</button>
    </form>
</body>
</html>